[packages]
presidio-analyzer = ">=2.2"
pyyaml = ">=6"
pathspec = "*"
en_core_web_lg = { file = 'https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.2.0/en_core_web_lg-3.2.0-py3-none-any.whl' }

[dev-packages]
pytest = ">=6"
flake8= {version = ">=3.7"}
pre_commit = ">=2"
pytest-cov = "*"
pytest-mock = "*"
presidio-cli = {editable = true, path = "."}

[scripts]
presidio = "python -m presidio_cli"
